body {
    font-size: 12px;
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table, tr, td, th {
    border: 1px solid #9BC3FF;
	 /*width: 500px;	 */
	 border-collapse: collapse;
}
table {
    border: 2px solid #9BC3FF;	
}

table th {
	border: 2px solid #9BC3FF;
	background-color: #9BC3FF;
}


div#magic-cat {
	border: 1px solid #9BC3FF;
	width: 500px;
	height: 200px;
	overflow: auto;
}
