body {
    font-size: 12px;
	 font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

table, tr, td, th {
    border: 1px solid #9BC3FF;
	 border-collapse: collapse;
}
table {
    border: 2px solid #9BC3FF;	
}

table th {
	border: 2px solid #9BC3FF;
	background-color: #9BC3FF;
}


#magic-cat {
height: 400px;


}
#magic-cat h1{
display: inline;
}

table ul, table li {
	margin:2px;
	padding:0;
	list-style: none;
}


table tr:hover {
	background-color: #e0ffff;
}

label {
/*	border: 1px solid blue;*/
	font-weight: bold;
	text-align: right;
	/*float: left;*/
	padding-right: 1%;
	background-color: #E8EFF4;
}

input {
border: 1px solid #E8EFF4;

}

#form p {
	
	margin: 2px 0;
}

.ui-icon:hover {
		cursor: pointer;
}

ol li {
	display: inline;
}

fieldset {
	border: 1px solid #E7EEF3;
}
fieldset legend {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

